.shop-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.product-container{
  display: grid;
  grid-template-columns:repeat(3 ,1fr);
  gap: 40px;
  margin-left:30px;
}
@media screen and (max-width:560px){
  .product-container{
    grid-template-columns:1fr;
  }
}
.cart-container{
  position: sticky;
}